body {
    font-family: Arial, sans-serif;
    background-color: #f98181;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.curved-image {
    max-width: 100%;
    border-radius: 15px;
    height: auto;
    margin-bottom: 1em;
}

.container {
    background: rgb(249, 203, 203);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

label {
    display: block;
    margin: 0.5em 0 0.2em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #01730e;
    color: white;
    border: none;
    padding: 0.7em 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #20ff02;
}

a {
    display: block;
    margin-top: 1em;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



